@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Source Sans 3 VF";
  font-weight: 200 900;
  font-style: normal;
  font-stretch: normal;
  src: url("/fonts/source-sans-3vf-roman.woff2") format("woff2");
}

@font-face {
  font-family: "Source Sans 3 VF";
  font-weight: 200 900;
  font-style: italic;
  font-stretch: normal;
  src: url("/fonts/source-sans-3vf-italic.woff2") format("woff2");
}

html {
  scrollbar-gutter: stable;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}
